{{- if .Values.cerberusApi.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: cerberus-api
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "cerberus-api" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.cerberusApi.service.type }}
  ports:
  - port: {{ .Values.cerberusApi.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  - port: {{ .Values.cerberusApi.service.metricsPort }}
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "cerberus-api" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.cerberusXdp.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: cerberus-xdp
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "cerberus-xdp" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.cerberusXdp.service.type }}
  ports:
  - port: {{ .Values.cerberusXdp.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  - port: {{ .Values.cerberusXdp.service.metricsPort }}
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "cerberus-xdp" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.cerberusWebui.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: cerberus-webui
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "cerberus-webui" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.cerberusWebui.service.type }}
  ports:
  - port: {{ .Values.cerberusWebui.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "cerberus-webui" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.marchproxyApiServer.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: marchproxy-api-server
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "marchproxy-api-server" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.marchproxyApiServer.service.type }}
  ports:
  - port: {{ .Values.marchproxyApiServer.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  - port: {{ .Values.marchproxyApiServer.service.xdsPort }}
    targetPort: xds
    protocol: TCP
    name: xds
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "marchproxy-api-server" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.marchproxyNlb.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: marchproxy-nlb
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "marchproxy-nlb" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.marchproxyNlb.service.type }}
  ports:
  - port: {{ .Values.marchproxyNlb.service.port }}
    targetPort: proxy
    protocol: TCP
    name: proxy
  - port: {{ .Values.marchproxyNlb.service.adminPort }}
    targetPort: admin
    protocol: TCP
    name: admin
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "marchproxy-nlb" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.marchproxyAlb.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: marchproxy-alb
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "marchproxy-alb" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.marchproxyAlb.service.type }}
  ports:
  - port: {{ .Values.marchproxyAlb.service.httpPort }}
    targetPort: http
    protocol: TCP
    name: http
  - port: {{ .Values.marchproxyAlb.service.httpsPort }}
    targetPort: https
    protocol: TCP
    name: https
  - port: {{ .Values.marchproxyAlb.service.adminPort }}
    targetPort: admin
    protocol: TCP
    name: admin
  - port: {{ .Values.marchproxyAlb.service.grpcPort }}
    targetPort: grpc
    protocol: TCP
    name: grpc
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "marchproxy-alb" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.cerberusFilter.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: cerberus-filter
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "cerberus-filter" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.cerberusFilter.service.type }}
  ports:
  - port: {{ .Values.cerberusFilter.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  - port: {{ .Values.cerberusFilter.service.metricsPort }}
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "cerberus-filter" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.cerberusSslInspector.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: cerberus-ssl-inspector
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "cerberus-ssl-inspector" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.cerberusSslInspector.service.type }}
  ports:
  - port: {{ .Values.cerberusSslInspector.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "cerberus-ssl-inspector" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.postgres.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "postgres" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.postgres.service.type }}
  ports:
  - port: {{ .Values.postgres.service.port }}
    targetPort: postgres
    protocol: TCP
    name: postgres
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "postgres" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.redis.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "redis" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.redis.service.type }}
  ports:
  - port: {{ .Values.redis.service.port }}
    targetPort: redis
    protocol: TCP
    name: redis
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "redis" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.opensearch.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: opensearch
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "opensearch" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.opensearch.service.type }}
  ports:
  - port: {{ .Values.opensearch.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  - port: {{ .Values.opensearch.service.perfPort }}
    targetPort: perf
    protocol: TCP
    name: perf
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "opensearch" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.jaeger.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "jaeger" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.jaeger.service.type }}
  ports:
  - port: {{ .Values.jaeger.service.collectorPort }}
    targetPort: collector
    protocol: TCP
    name: collector
  - port: {{ .Values.jaeger.service.queryPort }}
    targetPort: query
    protocol: TCP
    name: query
  - port: {{ .Values.jaeger.service.udpPort }}
    targetPort: udp
    protocol: UDP
    name: udp
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "jaeger" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.prometheus.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "prometheus" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.prometheus.service.type }}
  ports:
  - port: {{ .Values.prometheus.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "prometheus" "context" .) | nindent 4 }}
{{- end }}

{{- if .Values.grafana.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cerberus.componentLabels" (dict "component" "grafana" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.grafana.service.type }}
  ports:
  - port: {{ .Values.grafana.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "cerberus.componentSelectorLabels" (dict "component" "grafana" "context" .) | nindent 4 }}
{{- end }}
